#SPDX-License-Identifier: Apache-2.0
#Copyright 2018-2025 Gliim LLC.
#Licensed under Apache License v2. See LICENSE file.
#On the web http://golf-lang.com/ - this file is part of Golf framework.


Source: golf
Section: devel
Priority: optional
Maintainer: Golf Team <team@golf-lang.com>
#To install build dependencies:
#sudo apt update
#sudo apt -y install devscripts equivs build-essential lintian
#mk-build-deps -i -s sudo debian/control
#Build apt with debuild -us -uc -b (.deb in parent dir afterwards)
Build-Depends: libssl-dev,
 pkgconf,
 libxml2-dev,
 libcurl4-openssl-dev,
 libmariadb-dev,
 zlib1g-dev,
 libfcgi-dev,
 libpq-dev,
 libsqlite3-dev,
 libpcre2-dev,
 debhelper-compat(= 13)
Standards-Version: 4.7.2
Homepage: https://golf-lang.com
Vcs-Browser: https://salsa.debian.org/golf/golf
Vcs-Git: https://salsa.debian.org/golf/golf.git

Package: golf
Architecture: any
#libfcgi-bin is for cgi-fcgi utility
Depends: make,
 gcc,
 libssl-dev,
 pkgconf,
 libxml2-dev,
 libcurl4,
 libcurl4-openssl-dev,
 libmariadb-dev,
 zlib1g-dev,
 libfcgi-bin,
 libfcgi-dev,
 libpq-dev,
 libsqlite3-dev,
 libpcre2-dev,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: curl
Description: Programming language for web services
 Programming language, tools, framework and application server for
 web services, web applications and command-line programs. Golf is
 memory safe and high performance, with code that is easy to read
 and write.
