name: RimStone Binary Build

on:
  push:
    tags:
      - '*' # Version tags like 1.2.3
  workflow_dispatch: # This enables the "Run workflow" button
  
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      # Which flavors of linux to build on
      matrix:
        distro: [
          "debian:stable",
          "archlinux:latest",
          "rockylinux:9",
          "fedora:latest",
          "opensuse/leap:latest",
          "ubuntu:24.04"
        ]

    # Run everything inside one of the above Docker images
    container:
      image: ${{ matrix.distro }}

    steps:
     
      
      - name: Pre-install tar for openSUSE
        if: matrix.distro == 'opensuse/leap:latest'
        run: zypper install -y tar gzip
        
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Build Dependencies
        # Specify proper package manager and install build dependencies for RimStone
        run: |
          if [ -f /usr/bin/apt-get ]; then
            apt-get update && apt-get install -y build-essential tar libssl-dev pkgconf libxml2-dev libcurl4-openssl-dev libmariadb-dev zlib1g-dev libpq-dev libsqlite3-dev libpcre2-dev autoconf automake libtool gettext
          elif [ -f /usr/bin/dnf ]; then
            dnf install -y gcc make gcc tar libcurl-devel pcre2-devel libxml2-devel openssl-devel mariadb-connector-c-devel libpq-devel policycoreutils policycoreutils-devel libselinux-utils sqlite-devel man-db policycoreutils-python-utils autoconf automake libtool gettext
          elif [ -f /usr/bin/pacman ]; then
            pacman -Syu --noconfirm
            pacman -Sy --noconfirm base-devel tar pkgconf openssl curl mariadb-libs postgresql-libs sqlite3 pcre2 libxml2 autoconf automake libtool gettext
          elif [ -f /usr/bin/zypper ]; then
            zypper install -y gcc make gcc tar libcurl-devel pcre2-devel libxml2-devel ssl-devel libmariadb-devel postgresql-devel sqlite3-devel selinux-policy-devel autoconf automake libtool gettext-tools 
          fi

      - name: Make Binary
        run: |
          # Make RimStone
          make clean
          ./rimlib &&     echo "" > .rimlib.mk &&     echo "RIM_MARIADB_EX:=$$RIM_MARIADB_EX" >> .rimlib.mk &&     echo "RIM_SQLITE_EX:=$$RIM_SQLITE_EX" >> .rimlib.mk &&     echo "RIM_CURL_EX:=$$RIM_CURL_EX" >> .rimlib.mk &&     echo "RIM_PCRE2_EX:=$$RIM_PCRE2_EX" >> .rimlib.mk &&  "RIM_CRYPTO_EX:=$$RIM_CRYPTO_EX" >> .rimlib.mk &&     echo "RIM_POSTGRES_EX:=$$RIM_POSTGRES_EX" >> .rimlib.mk &&     echo "RIM_XML_EX:=$$RIM_XML_EX" >> .rimlib.mk &&     echo "RIM_MARIADB_INC:=$$RIM_MARIADB_INC" >> .rimlib.mk &&     echo "RIM_POSTGRES_INC:=$$RIM_POSTGRES_INC" >> .rimlib.mk
          cat .rimlib.mk
          make
          DISTRO_NAME=$(echo "${{ matrix.distro }}" | sed 's/[:\/]/-/g')
          tar cvfz rimstone-${DISTRO_NAME} release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rimstone-binary-${DISTRO_NAME}-${{ strategy.job-index }}
          path: ./rimstone-${DISTRO_NAME}
